<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HyperCorsaX - Web Telemetry (Histórico)</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>

    <link rel="stylesheet" href="../Style/wb.css">
    <link rel="stylesheet" href="../src/output.css">

</head>

<body>

    <div class="header">
        <h2>HYPERCORSA - Telemetria em Tempo Real</h2>
        <button id="btnAutoScroll" class="btn-scroll" onclick="toggleAutoScroll()">Auto-Scroll: LIGADO</button>
    </div>

    <section id="headerSectionT" class="headerSectionT mt-5 w-[90vw] max-w-300 rounded-2xl  bg-slate-900/80 p-4">

        <a href="./engine.html"
            class="group inline-flex items-center gap-3 border border-white bg-linear-to-br px-4 py-2 text-slate-100 transition duration-300 hover:-translate-y-0.5 hover:border-yellow-300/60 hover:from-cyan-yellow/30 focus:outline-none focus:ring-2 focus:ring-yellow-400/70 focus:ring-offset-2 focus:ring-offset-slate-950">
            <img src="../img/engine.png" alt="Abrir tela do motor" class="h-10 w-10 -xlp-1.5 ">
            <span class="text-sm font-semibold uppercase tracking-[0.2em]">POWERTRAIN</span>
        </a>

        <a href="./control.html"
            class="group inline-flex items-center gap-3 border border-white bg-linear-to-br px-4 py-2 text-slate-100 transition duration-300 hover:-translate-y-0.5 hover:border-yellow-300/60 hover:from-cyan-yellow/30 focus:outline-none focus:ring-2 focus:ring-yellow-400/70 focus:ring-offset-2 focus:ring-offset-slate-950">
            <img src="../img/steeringWheel.png" alt="Abrir tela do motor" class="h-10 w-10 -xlp-1.5 ">
            <span class="text-sm font-semibold uppercase tracking-[0.2em]">CONTROLE</span>
        </a>

        <a href="./control.html"
            class="group inline-flex items-center gap-3 border border-white bg-linear-to-br px-4 py-2 text-slate-100 transition duration-300 hover:-translate-y-0.5 hover:border-yellow-300/60 hover:from-cyan-yellow/30 focus:outline-none focus:ring-2 focus:ring-yellow-400/70 focus:ring-offset-2 focus:ring-offset-slate-950">
            <img src="../img/wheel.png" alt="Abrir tela do motor" class="h-10 w-10 -xlp-1.5 ">
            <span class="text-sm font-semibold uppercase tracking-[0.2em]">RODAS</span>
        </a>


    </section>

    <br>

    <div class="meter-panel">
        <h3 class="meter-title">Freios e Pneus</h3>
        <div class="meter-grid">

            <div class="meter-esquerda">
                <div id="tyrePsiValueFL" class="meter-value">0 psi</div>
                <div id="tyreTempValueFL" class="meter-value">0 °C</div>
                <div class="meter-box">
                    <div id="tyreFLFill" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Pneu FL</div>
                <div id="tyreFLValue" class="meter-value">0°C</div>
            </div>
            <div class="meter-esquerda">
                <div class="meter-box-freio">
                    <div id="brakeFLFill" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Freio FL</div>
                <div id="brakeFLValue" class="meter-value">0%</div>
            </div>
            <div class="meter-direita">
                <div class="meter-box-freio">
                    <div id="brakeFRFill" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Freio FR</div>
                <div id="brakeFRValue" class="meter-value">0%</div>
            </div>

            <div class="meter-direita">
                <div id="tyrePsiValueFR" class="meter-value">0 psi</div>
                <div id="tyreTempValueFR" class="meter-value">0 °C</div>
                <div class="meter-box">
                    <div id="tyreFRFill" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Pneu FR</div>
                <div id="tyreFRValue" class="meter-value">0°C</div>
            </div>

            <div class="meter-esquerda">
                <div id="tyrePsiValueRL" class="meter-value">0 psi</div>
                <div id="tyreTempValueRL" class="meter-value">0 °C</div>
                <div class="meter-box">
                    <div id="tyreRLFIll" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Pneu RL</div>
                <div id="tyreRLValue" class="meter-value">0°C</div>
            </div>

            <div class="meter-esquerda">
                <div class="meter-box-freio">
                    <div id="brakeRLFIll" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Freio RL</div>
                <div id="brakeRLValue" class="meter-value">0%</div>
            </div>
            <div class="meter-direita">
                <div class="meter-box-freio">
                    <div id="brakeRRFIll" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Freio RR</div>
                <div id="brakeRRValue" class="meter-value">0%</div>
            </div>

            <div class="meter-direita">
                <div id="tyrePsiValueRR" class="meter-value">0 psi</div>
                <div id="tyreTempValueRR" class="meter-value">0 °C</div>
                <div class="meter-box">
                    <div id="tyreRRFIll" class="meter-fill" style="background: #0004FF;"></div>
                </div>
                <div class="meter-label">Pneu RR</div>
                <div id="tyreRRValue" class="meter-value">0°C</div>
            </div>
        </div>
    </div>
    <br>
    <div class="dashboard">
        <div class="chart-container">
            <canvas id="speedChart"></canvas>
        </div>
        <div class="chart-container">
            TEMPERATURA PNEUS
            <canvas id="tempChart"></canvas>
        </div>
    </div>


    <script src="../JS/wbScriptWheels.js"></script>
</body>

</html>